@model webappMVC.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dtcad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dtcad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codsetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codsetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dtatualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dtatualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coduser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coduser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassificacaoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassificacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codcli" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
