@model IEnumerable<webappMVC.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="#myTbCliente">*@

    <table id="myTbCliente" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtcad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codsetor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtatualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coduser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificacaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Referencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dtcad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codsetor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dtatualizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coduser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodEmp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassificacaoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codcli">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Codcli">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Codcli">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>


    $(document).ready(function () {


        $('#myTbCliente').DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"


            }

        });
    });




    </script>
}