@model webappMVC.Colaborador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aceite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aceite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datacad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datacad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idcolab">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
